USE [master]
GO
/****** Object:  Database [SinemaaDb]    Script Date: 18.11.2019 19:52:53 ******/
--CREATE DATABASE [SinemaaDb]
-- CONTAINMENT = NONE
-- ON  PRIMARY 
--( NAME = N'SinemaaDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SinemaaDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
-- LOG ON 
--( NAME = N'SinemaaDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SinemaaDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
--GO
ALTER DATABASE [SinemaaDb] SET COMPATIBILITY_LEVEL = 140
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SinemaaDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SinemaaDb]
GO
/****** Object:  Table [dbo].[blgFilm]    Script Date: 18.11.2019 19:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blgFilm](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FilmTabloId] [int] NULL,
	[SalonId] [int] NULL,
	[SeansId] [int] NULL,
	[TurId] [int] NULL,
	[Fiyat] [float] NULL,
	[ResimUrl] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blgFilmTablo]    Script Date: 18.11.2019 19:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blgFilmTablo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FilmAdi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blgIcecek]    Script Date: 18.11.2019 19:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blgIcecek](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IcecekAdi] [nvarchar](50) NULL,
	[Fiyat] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blgKoltuk]    Script Date: 18.11.2019 19:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blgKoltuk](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KoltukNo] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blgPersonel]    Script Date: 18.11.2019 19:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blgPersonel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PersonelAdi] [nvarchar](50) NULL,
	[Sifre] [nvarchar](50) NULL,
	[KullaniciAdi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blgSalon]    Script Date: 18.11.2019 19:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blgSalon](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SalonNo] [nvarchar](50) NULL,
	[KoltukSayisi] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blgSeans]    Script Date: 18.11.2019 19:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blgSeans](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Seans] [nvarchar](50) NULL,
	[SalonId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blgTur]    Script Date: 18.11.2019 19:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blgTur](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TurAdi] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blgYiyecek]    Script Date: 18.11.2019 19:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blgYiyecek](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[YiyecekAdi] [nvarchar](50) NULL,
	[Fiyat] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blgYonetici]    Script Date: 18.11.2019 19:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blgYonetici](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](50) NULL,
	[Sifre] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCiro]    Script Date: 18.11.2019 19:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCiro](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ToplamBilet] [int] NULL,
	[Tarih] [datetime] NULL,
	[Ciro] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSatis]    Script Date: 18.11.2019 19:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSatis](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AdSoyad] [nvarchar](100) NULL,
	[TurId] [int] NULL,
	[FilmId] [int] NULL,
	[SalonId] [int] NULL,
	[SeansId] [int] NULL,
	[YiyecekId] [int] NULL,
	[IcecekId] [int] NULL,
	[BiletAdet] [int] NULL,
	[BiletNo] [nvarchar](10) NULL,
	[PersonelId] [int] NULL,
	[KoltukId] [int] NULL,
	[Tarih] [datetime] NULL,
	[Tutar] [float] NULL,
 CONSTRAINT [PK_tblFilmler] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[blgFilm] ON 

INSERT [dbo].[blgFilm] ([Id], [FilmTabloId], [SalonId], [SeansId], [TurId], [Fiyat], [ResimUrl]) VALUES (9, 1, 1, 1, 1, 17, NULL)
INSERT [dbo].[blgFilm] ([Id], [FilmTabloId], [SalonId], [SeansId], [TurId], [Fiyat], [ResimUrl]) VALUES (10, 1, 1, 3, 1, 20, NULL)
INSERT [dbo].[blgFilm] ([Id], [FilmTabloId], [SalonId], [SeansId], [TurId], [Fiyat], [ResimUrl]) VALUES (11, 1, 2, 2, 1, 18, NULL)
SET IDENTITY_INSERT [dbo].[blgFilm] OFF
SET IDENTITY_INSERT [dbo].[blgFilmTablo] ON 

INSERT [dbo].[blgFilmTablo] ([Id], [FilmAdi]) VALUES (1, N'Mucize 2')
INSERT [dbo].[blgFilmTablo] ([Id], [FilmAdi]) VALUES (2, N'7. Koğuştaki Mucize')
INSERT [dbo].[blgFilmTablo] ([Id], [FilmAdi]) VALUES (3, N'Joker')
SET IDENTITY_INSERT [dbo].[blgFilmTablo] OFF
SET IDENTITY_INSERT [dbo].[blgIcecek] ON 

INSERT [dbo].[blgIcecek] ([Id], [IcecekAdi], [Fiyat]) VALUES (1, N'Belirtilmemiş', 0)
INSERT [dbo].[blgIcecek] ([Id], [IcecekAdi], [Fiyat]) VALUES (2, N'Coca-Cola', 4)
INSERT [dbo].[blgIcecek] ([Id], [IcecekAdi], [Fiyat]) VALUES (3, N'Fanta', 4)
SET IDENTITY_INSERT [dbo].[blgIcecek] OFF
SET IDENTITY_INSERT [dbo].[blgKoltuk] ON 

INSERT [dbo].[blgKoltuk] ([Id], [KoltukNo]) VALUES (1, N'1')
INSERT [dbo].[blgKoltuk] ([Id], [KoltukNo]) VALUES (2, N'2')
INSERT [dbo].[blgKoltuk] ([Id], [KoltukNo]) VALUES (3, N'3')
SET IDENTITY_INSERT [dbo].[blgKoltuk] OFF
SET IDENTITY_INSERT [dbo].[blgPersonel] ON 

INSERT [dbo].[blgPersonel] ([Id], [PersonelAdi], [Sifre], [KullaniciAdi]) VALUES (1, N'Eda Balçın', N'12345', N'ebalcin')
INSERT [dbo].[blgPersonel] ([Id], [PersonelAdi], [Sifre], [KullaniciAdi]) VALUES (2, N'Melike Arıkan', N'12345', N'marikan')
INSERT [dbo].[blgPersonel] ([Id], [PersonelAdi], [Sifre], [KullaniciAdi]) VALUES (3, N'Muhammed Tiryaki', N'12345', N'mtiryaki')
SET IDENTITY_INSERT [dbo].[blgPersonel] OFF
SET IDENTITY_INSERT [dbo].[blgSalon] ON 

INSERT [dbo].[blgSalon] ([Id], [SalonNo], [KoltukSayisi]) VALUES (1, N'Salon1', 30)
INSERT [dbo].[blgSalon] ([Id], [SalonNo], [KoltukSayisi]) VALUES (2, N'Salon2', 20)
INSERT [dbo].[blgSalon] ([Id], [SalonNo], [KoltukSayisi]) VALUES (3, N'Salon3', 15)
SET IDENTITY_INSERT [dbo].[blgSalon] OFF
SET IDENTITY_INSERT [dbo].[blgSeans] ON 

INSERT [dbo].[blgSeans] ([Id], [Seans], [SalonId]) VALUES (1, N'11.00', NULL)
INSERT [dbo].[blgSeans] ([Id], [Seans], [SalonId]) VALUES (2, N'15.00', NULL)
INSERT [dbo].[blgSeans] ([Id], [Seans], [SalonId]) VALUES (3, N'19.00', NULL)
SET IDENTITY_INSERT [dbo].[blgSeans] OFF
SET IDENTITY_INSERT [dbo].[blgTur] ON 

INSERT [dbo].[blgTur] ([Id], [TurAdi]) VALUES (1, N'Dram')
INSERT [dbo].[blgTur] ([Id], [TurAdi]) VALUES (2, N'Komedi')
INSERT [dbo].[blgTur] ([Id], [TurAdi]) VALUES (3, N'Aile')
SET IDENTITY_INSERT [dbo].[blgTur] OFF
SET IDENTITY_INSERT [dbo].[blgYiyecek] ON 

INSERT [dbo].[blgYiyecek] ([Id], [YiyecekAdi], [Fiyat]) VALUES (1, N'Belirtilmemiş', 0)
INSERT [dbo].[blgYiyecek] ([Id], [YiyecekAdi], [Fiyat]) VALUES (2, N'Çikolata', 5)
INSERT [dbo].[blgYiyecek] ([Id], [YiyecekAdi], [Fiyat]) VALUES (3, N'Cips', 8)
SET IDENTITY_INSERT [dbo].[blgYiyecek] OFF
SET IDENTITY_INSERT [dbo].[blgYonetici] ON 

INSERT [dbo].[blgYonetici] ([Id], [KullaniciAdi], [Sifre]) VALUES (1, N'ebalcin', N'12345')
INSERT [dbo].[blgYonetici] ([Id], [KullaniciAdi], [Sifre]) VALUES (2, N'marikan', N'12345')
INSERT [dbo].[blgYonetici] ([Id], [KullaniciAdi], [Sifre]) VALUES (3, N'mtiryaki', N'12345')
SET IDENTITY_INSERT [dbo].[blgYonetici] OFF
SET IDENTITY_INSERT [dbo].[tblCiro] ON 

INSERT [dbo].[tblCiro] ([Id], [ToplamBilet], [Tarih], [Ciro]) VALUES (1, 6, CAST(N'2019-11-18T00:00:00.000' AS DateTime), 106)
SET IDENTITY_INSERT [dbo].[tblCiro] OFF
SET IDENTITY_INSERT [dbo].[tblSatis] ON 

INSERT [dbo].[tblSatis] ([Id], [AdSoyad], [TurId], [FilmId], [SalonId], [SeansId], [YiyecekId], [IcecekId], [BiletAdet], [BiletNo], [PersonelId], [KoltukId], [Tarih], [Tutar]) VALUES (18, N'selvinur', NULL, 2, 3, 1, 1, 1, 1, N'0000000001', 8, 13, CAST(N'2019-11-18T00:00:00.000' AS DateTime), 17)
INSERT [dbo].[tblSatis] ([Id], [AdSoyad], [TurId], [FilmId], [SalonId], [SeansId], [YiyecekId], [IcecekId], [BiletAdet], [BiletNo], [PersonelId], [KoltukId], [Tarih], [Tutar]) VALUES (19, N'selvinur', NULL, 2, 3, 1, 1, 1, 1, N'0000000001', 8, 14, CAST(N'2019-11-18T00:00:00.000' AS DateTime), 17)
INSERT [dbo].[tblSatis] ([Id], [AdSoyad], [TurId], [FilmId], [SalonId], [SeansId], [YiyecekId], [IcecekId], [BiletAdet], [BiletNo], [PersonelId], [KoltukId], [Tarih], [Tutar]) VALUES (20, N'yavuz', NULL, 2, 1, 2, 1, 1, 1, N'0000000002', 8, 22, CAST(N'2019-11-18T00:00:00.000' AS DateTime), 18)
SET IDENTITY_INSERT [dbo].[tblSatis] OFF
ALTER TABLE [dbo].[blgFilm]  WITH CHECK ADD  CONSTRAINT [FK_blgFilm_blgFilmTablo] FOREIGN KEY([FilmTabloId])
REFERENCES [dbo].[blgFilmTablo] ([Id])
GO
ALTER TABLE [dbo].[blgFilm] CHECK CONSTRAINT [FK_blgFilm_blgFilmTablo]
GO
ALTER TABLE [dbo].[blgFilm]  WITH CHECK ADD  CONSTRAINT [FK_blgFilm_blgSalon] FOREIGN KEY([SalonId])
REFERENCES [dbo].[blgSalon] ([Id])
GO
ALTER TABLE [dbo].[blgFilm] CHECK CONSTRAINT [FK_blgFilm_blgSalon]
GO
ALTER TABLE [dbo].[blgFilm]  WITH CHECK ADD  CONSTRAINT [FK_blgFilm_blgSeans] FOREIGN KEY([SeansId])
REFERENCES [dbo].[blgSeans] ([Id])
GO
ALTER TABLE [dbo].[blgFilm] CHECK CONSTRAINT [FK_blgFilm_blgSeans]
GO
ALTER TABLE [dbo].[blgFilm]  WITH CHECK ADD  CONSTRAINT [FK_blgFilm_blgTur] FOREIGN KEY([TurId])
REFERENCES [dbo].[blgTur] ([Id])
GO
ALTER TABLE [dbo].[blgFilm] CHECK CONSTRAINT [FK_blgFilm_blgTur]
GO
ALTER TABLE [dbo].[blgSeans]  WITH CHECK ADD  CONSTRAINT [FK_blgSeans_blgSalon] FOREIGN KEY([SalonId])
REFERENCES [dbo].[blgSalon] ([Id])
GO
ALTER TABLE [dbo].[blgSeans] CHECK CONSTRAINT [FK_blgSeans_blgSalon]
GO
ALTER TABLE [dbo].[tblSatis]  WITH CHECK ADD  CONSTRAINT [FK_tblSatis_blgFilmTablo] FOREIGN KEY([FilmId])
REFERENCES [dbo].[blgFilmTablo] ([Id])
GO
ALTER TABLE [dbo].[tblSatis] CHECK CONSTRAINT [FK_tblSatis_blgFilmTablo]
GO
ALTER TABLE [dbo].[tblSatis]  WITH CHECK ADD  CONSTRAINT [FK_tblSatis_blgIcecek] FOREIGN KEY([IcecekId])
REFERENCES [dbo].[blgIcecek] ([Id])
GO
ALTER TABLE [dbo].[tblSatis] CHECK CONSTRAINT [FK_tblSatis_blgIcecek]
GO
ALTER TABLE [dbo].[tblSatis]  WITH CHECK ADD  CONSTRAINT [FK_tblSatis_blgKoltuk] FOREIGN KEY([KoltukId])
REFERENCES [dbo].[blgKoltuk] ([Id])
GO
ALTER TABLE [dbo].[tblSatis] CHECK CONSTRAINT [FK_tblSatis_blgKoltuk]
GO
ALTER TABLE [dbo].[tblSatis]  WITH CHECK ADD  CONSTRAINT [FK_tblSatis_blgPersonel] FOREIGN KEY([PersonelId])
REFERENCES [dbo].[blgPersonel] ([Id])
GO
ALTER TABLE [dbo].[tblSatis] CHECK CONSTRAINT [FK_tblSatis_blgPersonel]
GO
ALTER TABLE [dbo].[tblSatis]  WITH CHECK ADD  CONSTRAINT [FK_tblSatis_blgSalon] FOREIGN KEY([SalonId])
REFERENCES [dbo].[blgSalon] ([Id])
GO
ALTER TABLE [dbo].[tblSatis] CHECK CONSTRAINT [FK_tblSatis_blgSalon]
GO
ALTER TABLE [dbo].[tblSatis]  WITH CHECK ADD  CONSTRAINT [FK_tblSatis_blgSeans] FOREIGN KEY([SeansId])
REFERENCES [dbo].[blgSeans] ([Id])
GO
ALTER TABLE [dbo].[tblSatis] CHECK CONSTRAINT [FK_tblSatis_blgSeans]
GO
ALTER TABLE [dbo].[tblSatis]  WITH CHECK ADD  CONSTRAINT [FK_tblSatis_blgTur] FOREIGN KEY([TurId])
REFERENCES [dbo].[blgTur] ([Id])
GO
ALTER TABLE [dbo].[tblSatis] CHECK CONSTRAINT [FK_tblSatis_blgTur]
GO
ALTER TABLE [dbo].[tblSatis]  WITH CHECK ADD  CONSTRAINT [FK_tblSatis_blgYiyecek] FOREIGN KEY([YiyecekId])
REFERENCES [dbo].[blgYiyecek] ([Id])
GO
ALTER TABLE [dbo].[tblSatis] CHECK CONSTRAINT [FK_tblSatis_blgYiyecek]
GO
USE [master]
GO
